body{
  background-color: #FFFAF0;
  color: #333333;
  font-family: 'Arial', sans-serif;
  padding: 0;
  margin: 0;
}
.search-container{
  width: 100%
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff8e1;
  border-radius: 25px;
  display: flex;
  align-item: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.search-container input[type='text']{
    width: 80%;
    padding: 10px;
    border: 2px solid #ff7043;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}
.search-container button:hover{
   background-color: #e64a19;
}
.search-container input[type='text']{
    border-color: #e64a19;
}
